body{
    background: darkslategray;
    color: wheat;
    font-size: 20px;
    font-weight: 250;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}
img{border: 2px solid black;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 400px
    
}
.info-text{
    margin-bottom: 0px;

}
.card{
    border: 2px solid black;
    border-color: slategray;
    border-radius: 20px;
    padding: 15px;
    margin: 0;
}
.bg-gold{
    background: slategray;
}
.container{
    margin: auto;
    max-width: 1500px;
    padding: 0;
}
a{
    color: darkslategray;
    text-decoration: none;
    transition: all .06s;
}
a:hover{
    color: aquamarine;
    text-decoration: underline ;
}
a:active{
    color: darkcyan;
    font-size: 1rem;
}
.btn{
    background: rgb(19, 20, 32);
    color: whitesmoke;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    font-family: inherit;
    border-radius: 8px;
    transition: all .5s;
}
.btn:hover{
    color: antiquewhite;
    background: rgb(6, 6, 66);
    font-size: 1rem;
    opacity: .8;
}
.list{
    margin: 0;
    list-style: none;
    padding: 0;
}
.list li{
    margin-bottom: 7px;
}
.title-hobby{
    margin: 5px;
    padding: 0;
    margin-top: 20px;
}
.love{
    margin-top: 0;
}
th{
    padding-right: 10px;
}
td{
    padding-right: 10px;
}

.form h2{
    text-align: center;
}
.form-group label{
    display: block;
    font-size: 14px;
    color: wheat;
}
.form-group input,
.form-group textarea{
    width: 100%;
    border:none;
    box-sizing: border-box;
    background: transparent;
    border-bottom: 1px solid wheat;
    color: wheat;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.form-row{
    margin-bottom: 10px;
    display: flex;
}
.form-row .form-group{
    display: inline-block;
    margin-right: 20px;
    width: 50%;
}

.form-row .form-group:last-child{
    margin-right: 0;
}
@media(max-width: 900px){
    .container{
        font-size: 1rem;
        text-align: center;
        padding: 12px;
        display: block;
    }
    .img{
        width: 80%;
    }
}